@-webkit-keyframes changeColor {
    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
        color: #040053;
    }
}

@-moz-keyframes changeColor {
    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
        color: #040053;
    }
}

@-o-keyframes changeColor {
    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
        color: #040053;
    }
}

@keyframes changeColor {
    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
        color: #040053;
    }
}

@-webkit-keyframes descAppearLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes descAppearLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-o-keyframes descAppearLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes descAppearLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes descAppearRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes descAppearRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-o-keyframes descAppearRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes descAppearRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes firstchange {
    0%,
    100% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }
}

@-moz-keyframes firstchange {
    0%,
    100% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }
}

@-o-keyframes firstchange {
    0%,
    100% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }
}

@keyframes firstchange {
    0%,
    100% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }
}

@-webkit-keyframes secondchange {
    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

@-moz-keyframes secondchange {
    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

@-o-keyframes secondchange {
    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

@keyframes secondchange {
    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}
