@import url('/assets/css/style.css');

/* Scroll Style */
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    cursor: url('/assets/img/cursor.svg'), auto;
    /* background: #252525; */
    background: -webkit-linear-gradient(45deg, #2444FF, #24C4FF);
    border-radius: 5px;
    animation: changeColor 6s linear infinite;
}

html {
    font-size: 50%;
    cursor: url('/assets/img/cursor.svg'), auto;
}

html.click {
    cursor: url('/assets/img/cursor.svg'), auto;
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font-family: "Montserrat", sans-serif;*/

    font-family: 'Univia Pro';
    src: url('/assets/font/UniviaPro-UltraItalic.eot');
}

body {
    overflow-x: hidden;
    /* max-width: 100vw; */
    background-color: var(--back-color);
    color: var(--ligth-color);
}

h3,
h4,
p {
    text-justify: distribute;
    text-align: justify;
}

p {
    line-height: 1.5em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    margin: 1rem 0;
}

ion-icon {
    margin: 0 1rem;
    font-size: 2.5rem;
}


/* HeroSection */
.large-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#large-header {
    background-color: #000000;
    background-attachment: fixed;
    width: 100vw;
}

.main-title {
    font-size: 2rem;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
    text-transform: uppercase;
}

.main-title .thin {
    font-weight: 200;
}

/* Objects */



@keyframes borderAnimated {

    0%,
    100% {
        border-image: linear-gradient(90deg, var(--primary), var(--blue), var(--blue-ligth));
        border-image-slice: 1;
    }

    20% {
        border-image: linear-gradient(180deg, var(--primary), var(--blue), var(--blue-ligth));
        border-image-slice: 1;
    }

    40% {
        border-image: linear-gradient(270deg, var(--primary), var(--blue), var(--blue-ligth));
        border-image-slice: 1;
    }

    80% {
        border-image: linear-gradient(360deg, var(--primary), var(--blue), var(--blue-ligth));
        border-image-slice: 1;
    }
}

.btn:hover {
    border-image: linear-gradient(90deg, #fff, #fff, #fff);
    background-color: #2444FF;
    box-shadow: #24C4FF 0px 0px 15px;
    animation: none;
    border-image-slice: 1;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--ligth-color);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover,
a:active,
a:focus {
    animation: changeColor 6s linear infinite;
}

/*  */

@keyframes changeColor {

    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
        color: #040053;
    }
}

@media screen and (max-width: 768px) {

    /* CONTACTO */
    input,
    textarea,
    .container .btn,
    .social-midia,
    .contacto {
        animation: scaleup 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 10%;
    }

    .contactos .contactos-form {
        width: 90%;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .contactos .contactos-form .container-one {
        width: 30%;
    }

    .contactos .contactos-form .container-two {
        width: 60%;
    }

    .social-midia {
        width: 100%;
        margin: 1rem 0;
        justify-content: space-evenly;
    }

    .social-midia a {
        margin-right: 0;
    }

    .contacto {
        width: 100%;
        margin: 1rem 0;
        font-size: 2rem;
    }
}


@media screen and (max-width: 1024px) {

    /* CONTACTO */
    input,
    textarea,
    .container .btn,
    .btn.send,
    .social-midia,
    .contacto {
        animation: scaleup 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 10%;
    }

    .contactos .contactos-form {
        width: 90%;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .contactos .contactos-form .container-one {
        width: 30%;
    }

    .contactos .contactos-form .container-two {
        width: 60%;
    }

    .social-midia {
        width: 100%;
        margin: 1rem 0;
        justify-content: space-evenly;
    }

    .social-midia a {
        margin-right: 0;
    }

    .contacto {
        width: 100%;
        margin: 1rem 0;
        font-size: 2rem;
    }
}

/* (mobile) */
@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    html {
        font-size: 50%;
    }

    header {
        background-color: hsla(0, 0%, 0%, 0.664);
        box-shadow: rgba(0, 0, 0, 0.100) 0px 3px 8px;
        color: var(--ligth-color);
    }

    /*  */
    .navbar {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navbar li {
        position: relative;
        font-size: 1.5rem;
    }

    .icon {
        cursor: url('/assets/img/cursor.svg'), auto;
    }



    /*  */
    .service-card {
        /* background-color: #2444FF; */
        width: 100%;
        margin-top: 10rem;
        max-height: 80rem;
        justify-content: center;
        align-items: center;
    }

    .service-img {
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        width: 100%;
        height: 50%;
    }

    .service-img img {
        width: 25rem;
        height: 25rem;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        padding: 2rem 1rem 0 1rem;
        width: 90%;
        height: 50%;
        justify-content: center;
    }

    .service-desc h1 {
        margin-top: 12rem;
    }

    /* .service-desc p,
    .service-desc h2, */
    .service-desc a {
        animation: scaleup 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 40%;
    }

    .mobileposition-reverse {
        flex-direction: column-reverse;
    }

    .mobileposition {
        flex-direction: column;
    }

    .amimatedRigth {
        animation: none;
        animation-timeline: view();
        animation-range: cover 0% cover 0%;
    }

    .amimatedleft {
        animation: none;
        animation-timeline: view();
        animation-range: cover 0% cover 0%;
    }

    /* About Us */
    .sobre {
        height: 75vh;
    }

    .sobre p {
        width: 80%;
        margin-top: 1rem;
        text-align: center;
    }

    /* CONTACTO */

    input,
    textarea,
    .container .btn,
    .social-midia,
    .contacto {
        animation: scaleup 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 10%;
    }

    .contactos .contactos-form {
        width: 90%;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .contactos .contactos-form .container-one {
        width: 100%;
    }

    .contactos .contactos-form .container-two {
        width: 100%;
    }

    .social-midia {
        width: 100%;
        margin: 1rem 0;
        justify-content: space-evenly;
    }

    .social-midia a {
        margin-right: 0;
    }

    .contacto {
        width: 100%;
        margin: 1rem 0;
        font-size: 2rem;
    }

    .partners {
        margin-top: -5rem;
    }

    .comment-card {
        border: 1px solid #ECECEC;
        justify-content: space-between;
        min-width: 35rem;
        min-height: 15rem;
        height: 100%;
        border-radius: 1rem;
        padding: 1rem 2rem;
        margin-right: 20rem;
    }

    .comment-card .card-head {
        align-items: center;
    }

    .comment-card .card-head div {
        margin-right: 1rem;
    }

    .comment-card .card-body p {
        font-size: 1.5rem;
        width: 100%;
        margin-right: 1rem;
        padding: 0 0 0 2rem;
    }

    /* Footer */
    .footer,
    .footer-content,
    .content-object {
        justify-content: center;
        align-items: center;
    }

    .footer-content .content-object {
        margin-top: 1.5rem;
        width: 100%;
    }

    .footer-element {
        margin: 1rem 0;
        font-size: 2rem;
    }

    .title {
        margin-top: 1rem;
    }

    /*  */

    .trabalhos {
        padding: 2rem 0;
        min-height: 65rem;
    }

    .trabalho-Carroucel {
        position: relative;
        width: 90%;
    }

    .trabalho-cards {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .background-container {
        position: relative;
        width: 35rem;
        height: 40rem;
        margin: 0;
        margin-left: -1.5rem;
        overflow: hidden;
        border-radius: 1rem;
        border: #2444FF solid 0.5rem;
    }

    .trabalho-Carroucel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrousel {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .trabalho-card-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 300%;
        margin: 0 0 0 14%;
        padding: 0;
    }

    .card {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        transition: filter 0.5s ease, transform 0.5s ease;
        justify-content: center;
    }

    .background-container .trabalho-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .background-container .icon-area .icon {
        transition: transform 0.5s ease;
    }

    /* Navigation buttons */
    .navigation {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .navigation button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .navigation button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .conteudo h1 {
        /* font-size: 2.5rem; */
        margin-bottom: 0rem;
    }

    .conteudo p {
        margin: 0.1rem 0;
        font-size: 2.5rem;

    }

    .icon-area p {
        display: none;
        overflow: hidden;
        font-size: 2rem;
        font-weight: bold;
        transition: opacity all 0.5s ease-in-out;
    }

    h2,
    .sub-title {
        text-justify: none;
        text-align: none;
    }

    .Container {
        padding: 15rem 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .team-card {
        min-height: 35rem;
        width: 25rem;
        margin: 1rem
    }

}

/* (desktop) */
@media screen and (min-width: 601px) {
    .hide-desktop {
        display: none;
        overflow: hidden;
    }

    /* .logos:hover .slide-animete-logo {
        animation-play-state: paused;
    } */

    .background-container {
        position: relative;
        width: 30rem;
        height: 35rem;
        margin: 2rem;
        overflow: hidden;
        border-radius: 1rem;
        border: #2444FF solid 0.5rem;
    }
}

@media screen and (min-width: 320px) {
    .trabalho-card-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 300%;
        padding: 0;
    }


}



/* Estilo do menu dropdown */
.dropdown-menu {
    display: none;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 150%;
    left: -10rem;
    background: #00000098;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: 100rem;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #ffff;
}

.dropdown-menu li a:hover {
    background: var(--back-color);
    animation: changeColor 6s linear infinite;
    transition: all .1s ease-in-out;
}

/* (desktop) */
@media screen and (min-width: 2560px) {

    html {
        font-size: 60%;
    }

    .icon {
        cursor: url('/assets/img/cursor.svg'), auto;
    }



    /*  */
    .service-card {
        /* background-color: #2444FF; */
        width: 100%;
        padding: 0 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-img {
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        width: 50%;
        height: 100%;
    }

    .service-img img {
        width: 25rem;
        height: 25rem;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .service-desc {
        padding: 2rem 1rem 0 1rem;
        width: 50%;
        height: 100%;
        justify-content: center;
    }

    .service-desc h1 {
        margin-top: 12rem;
    }

    /* .service-desc p,
    .service-desc h2, */
    .service-desc a {
        animation: scaleup 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 40%;
    }

    .amimatedRigth {
        animation: none;
        animation-timeline: view();
        animation-range: cover 0% cover 0%;
    }

    .amimatedleft {
        animation: none;
        animation-timeline: view();
        animation-range: cover 0% cover 0%;
    }

    /* About Us */
    .sobre {
        margin: 0;
        height: 10vh;
        padding: 0;
    }

    .sobre p {
        width: 80%;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.7rem;
    }

    /* CONTACTO */

    input,
    textarea,
    .container .btn,
    .social-midia,
    .contacto {
        animation: scaleup 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 10%;
    }

    .contactos .contactos-form {
        width: 50%;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    /* .comment-area,
    .partners {
        margin-top: -5rem;
    } */

    /* Footer */
    .footer,
    .footer-content,
    .content-object {
        justify-content: center;
        /* align-items: center; */
    }

    .footer-content .content-object {
        margin-top: 1.5rem;
    }

    .footer-element {
        margin: 1rem 0;
        font-size: 2rem;
    }

    .title {
        margin-top: 1rem;
    }

    /*  */

    .trabalhos {
        padding: 2rem 0;
    }

    .trabalho-Carroucel {
        position: relative;
        width: 40%;
    }

    .trabalho-cards {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .background-container {
        position: relative;
        width: 35rem;
        height: 40rem;
        overflow: hidden;
        border-radius: 1rem;
        border: #2444FF solid 0.5rem;
    }

    .trabalho-Carroucel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrousel {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .trabalho-card-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 300%;
        /* margin: 0 0rem 0 15%; */
        padding: 0;
    }

    .card {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        transition: filter 0.5s ease, transform 0.5s ease;
        justify-content: center;
    }

    .background-container .trabalho-card {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .background-container .icon-area .icon {
        transition: transform 0.5s ease;
    }

    /* Navigation buttons */
    .navigation {
        position: absolute;
        top: 50%;
        left: -10%;
        width: 120%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .navigation button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2.5rem;
        padding: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .navigation button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .conteudo h1 {
        /* font-size: 2.5rem; */
        margin-bottom: 0rem;
    }

    .conteudo p {
        margin: 0.1rem 0;
        font-size: 2.5rem;

    }

    .icon-area p {
        display: none;
        overflow: hidden;
        font-size: 2rem;
        font-weight: bold;
        transition: opacity all 0.5s ease-in-out;
    }

    .container-two .btn {
        animation: borderAnimated 2s linear infinite;
        transition: all .2s ease-in-out;
    }

    .btn,
    .marcar.btn {
        color: var(--ligth-color);
        border: solid 2px transparent;
        border-image: linear-gradient(90deg, var(--primary), var(--blue), var(--blue-ligth));
        border-image-slice: 1;
        cursor: url('/assets/img/cursor.svg'), auto;
        animation: borderAnimated 2s linear infinite;
    }

    .container-two .btn {
        animation: borderAnimated 2s linear infinite;
        transition: all .2s ease-in-out;
    }
}


html.click a,
html.click a:hover,
a:hover,
.btn:hover {
    cursor: url('/assets/img/cursor-pointer.svg'), auto;
}

.container-two .btn {
    animation: borderAnimated 2s linear infinite;
    transition: all .2s ease-in-out;
}

.btn:hover {
    border-image: linear-gradient(90deg, #fff, #fff, #fff);
    background-color: #2444FF;
    box-shadow: #24C4FF 0px 0px 15px;
    animation: none;
    border-image-slice: 1;
}

.btn,
.marcar.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    background-color: #000000;
    color: var(--ligth-color);
    border: solid 2px transparent;
    border-image: linear-gradient(90deg, var(--primary), var(--blue), var(--blue-ligth));
    border-image-slice: 1;
    cursor: url('/assets/img/cursor.svg'), auto;
    animation: borderAnimated 2s linear infinite;
    transition: all .2s ease-in-out;
}

#borderAnimated{
    animation: borderAnimated 2s linear infinite;
}